<br><br><br>

<div class="all">
<div class="column">
    <div class="card">
        <a>
            <div class="wrapper">
                <img class="background_image" src="<%= @card.url %>">
                    <span><a href="/decks/<%= @card.deck_id %>" class="card_road <%= @card.deck.title %>"><%= @card.deck.title %></a></span>
                <h3 class="halt_number <%= @card.deck.title %>">[ <%= @card.number %> ]</h3>
                <!--div class="card_summary"-->
                    <div class="data">
                        <h1 class="card_title"><%= @card.title %></h1>
                        <p class="card_content"><%= @card.summary %></p>
                    </div>
                <!--/div-->
            </div>
        </a>
    </div>
    <br>
            <div class="form_style">
                <%= link_to "Edit", edit_card_path(@card), class:'btn hide' %>
                <%= link_to "Destroy", card_path(@card), class:'btn hide',
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
            </div>

        <br>
    </div>


    <div class="halt_content">
        <h1><%= @card.title %></h1>
        <p><%= simple_format @card.content %></p>
    </div>
</div>




<br><br>